html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.colors-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.color-container {
    border: solid black 1px;
    height: 300px;
    width: 300%;
}